@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}
.bg-blur {
  backdrop-filter: blur(2px); /* A3just the blur amount as needed */
  background-color: rgba(255, 255, 255, 0); /* Adjust the background color and alpha as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0.9;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  text-align: center;
}

.tooltip .arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.375rem;
  border-width: 0.375rem;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}


.btn.clicked {
  background: linear-gradient(
    92.23deg,
    #a0c8ff 21.43%, /* Lighter shade of #406aff */
    #8ed2ff 50.63%, /* Lighter shade of #3bace2 */
    #d8a7ff 100%,  /* Lighter shade of #b936ee */
    #ffb9ff 117.04% /* Lighter shade of #ff56f6 */
  );}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}